# Slides-specific folders to ignore
2024 Spring/
data/

# Output files from R CMD build/check
/*.tar.gz
/*.Rcheck/

# Produced vignettes
vignettes/*.html

# Temp copy print-notes.R writes next to a deck while printing
.*-notes-tmp.html

# R Environment Variables
.Renviron



